
# PlanAhead Generated IO constraints 
##
NET clk LOC = T8 | TNM_NET = sys_clk_pin | IOSTANDARD = "LVCMOS33";
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 50000 kHz;
##


##
NET reset   LOC = L3 | IOSTANDARD = "LVCMOS33"; ## Reset Button
##

NET RTC_En      LOC = C13 | IOSTANDARD = "LVCMOS33";		## 
NET RTC_clk     LOC = E13 | IOSTANDARD = "LVCMOS33"; 	## 
NET RTC_io      LOC = D14 | IOSTANDARD = "LVCMOS33"; 	## 
###########################################
#NET RXD         LOC = C11 | IOSTANDARD = "LVCMOS33";	## Uart RXD:U4_TXD
NET TXD         LOC = D12 | IOSTANDARD = "LVCMOS33"; 	## Uart TXD:U4_RXD
########LED Pin define#####################
NET	to_LED<0>	LOC = D5	|	IOSTANDARD = "LVCMOS33";	#G 7segment
NET	to_LED<1>	LOC = E7	|	IOSTANDARD = "LVCMOS33";	#F
NET	to_LED<2>	LOC = D6	|	IOSTANDARD = "LVCMOS33";	#E
NET	to_LED<3>	LOC = F7	|	IOSTANDARD = "LVCMOS33";	#D
NET	to_LED<4>	LOC = C5	|	IOSTANDARD = "LVCMOS33";	#C
NET	to_LED<5>	LOC = E6	|	IOSTANDARD = "LVCMOS33"; 	#B
NET	to_LED<6>	LOC = C7	|	IOSTANDARD = "LVCMOS33"; 	#A
NET	Dot			LOC = C6	|	IOSTANDARD = "LVCMOS33";	#dot
 
NET 	Selected_digit<0>	LOC = D8	|	IOSTANDARD = "LVCMOS33"; 	# Digit1
NET 	Selected_digit<1>	LOC = E8	|	IOSTANDARD = "LVCMOS33"; 	# Digit2
NET 	Selected_digit<2>	LOC = F9	|	IOSTANDARD = "LVCMOS33"; 	# Digit3
NET 	Selected_digit<3>	LOC = F10	|	IOSTANDARD = "LVCMOS33"; 	# Digit4
NET 	Selected_digit<4>	LOC = E10	|	IOSTANDARD = "LVCMOS33"; 	# Digit5
NET 	Selected_digit<5>	LOC = D9	|	IOSTANDARD = "LVCMOS33"; 	# Digit6
	
NET	hour_up		LOC = C3	|	IOSTANDARD = "LVCMOS33";	#KEY1
NET	min_up		LOC = D3	|	IOSTANDARD = "LVCMOS33";	#KEY2
NET	sec_rst		LOC = E4	|	IOSTANDARD = "LVCMOS33";	#KEY3
#NET	key4		LOC = E3	|	IOSTANDARD = "LVCMOS33";	#KEY4

#NET d	      LOC = C3 | IOSTANDARD = "LVCMOS33";       ## KEY1
#LOC = P4 | IOSTANDARD = "LVCMOS33";       ## LED1
#NET reset   LOC = N5 | IOSTANDARD = "LVCMOS33";       ## LED2
#NET q       LOC = P5 | IOSTANDARD = "LVCMOS33";       ## LED3
#NET led<3>	LOC = M6 | IOSTANDARD = "LVCMOS33";       ## LED4
